@import url('https://fonts.cdnfonts.com/css/western');
@import url('https://fonts.cdnfonts.com/css/pixel-cowboy');
                
body{
    background-image: url("assets/wp.jpg");
    overflow: hidden;
    background-size: 1400px 640px;
}

#display{
    display: flex;
    height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    position: fixed;
    right: 50%;
    top: 5%;
    transform: translate(50%,5%);
    width: 500px;
    height: 270px;
    background-color: rgb(45, 212, 45);
    border: 10px solid rgb(10, 145, 10);
}

#circle{
    background-color: rgb(10, 145, 10);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    align-self: center;
}

h1{
    white-space: nowrap;
    position: absolute;
    right: 49%;
    top: 10%;
    transform: translate(49%, 10%);
    font-size: 28px;
    font-family: 'Pixel Cowboy', sans-serif;
    color:  rgb(27, 27, 27);

}

h2{
    font-size: 12px;
    position: absolute;
    right: 49%;
    top: 32%;
    transform: translate(49%,32%);
    font-family: 'Pixel Cowboy', sans-serif;
    position: absolute;
    color:  rgb(27, 27, 27);
}

#jogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 8%;
}

#start{
    padding: 3px;
    font-size: 11px;
    font-family: 'Pixel Cowboy', sans-serif;
    position: absolute;
    right: 50%;
    top: 35%;
    transform: translate(50%, 35%);
    background-color: rgb(10, 145, 10);
    border: 3px inset outset rgb(45, 212, 45);
    color:  rgb(27, 27, 27);
}

#start:hover{
    background-color: rgb(14, 177, 14);
}

select:hover{
    background-color: rgb(14, 177, 14);
}

select{
    position: absolute;
    right: 50%;
    top: 47%;
    transform: translate(50%, 50%);
    font-size: 12px;
    font-family: 'Pixel Cowboy', sans-serif;
    background-color: rgb(10, 145, 10);
    border: 2px  solid rgb(45, 212, 45);
    color:white;
}

img{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1;
}

#crossline{
    position: absolute;
    z-index: 0;
    left: 60%;
    height: 200px;
    width: 200px;
    top: 42%;
    transform: translateY(42%);
}
